<div id="FormFileUploader" ng-controller="FormFileUploader">
 
    <!-- Error Message Content -->
    <div class="row" ng-show="feedback.error">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" ng-click="clearFeedback()">×</button>
                    <p> Error : {{feedback.message}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Message Content -->
    <div class="row" ng-show="feedback.success">
        <div class="col-md-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" ng-click="clearFeedback()">×</button>
                    <p>Success:  File uploaded to {{feedback.filename}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Form-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-upload">
                <button class="btn btn-info"
                        ng-file-select
                        ng-model="files"
                        ng-file-change="acceptSelectedFile(files)"
                        ng-multiple="false"
                        accept=".json"
                        ng-show="!isUploading">
                    Choose File
                </button>
                <input type="text" disabled ng-model="file.name" ng-show="!isUploading" class="input-textbox-upload" />
                <select class="select-import-type" ng-model="connorImport" ng-init='connorImport="form"' ng-change="dataChange(connorImport)">
					<option value="form" selected="selected" >Form</option>
					<option value="workflow">Workflow</option>
				</select>
				<button class="btn btn-success" data-ng-click="uploadFile()">Upload</button>
            </div>
        </div>
    </div>

</div>
